# Sensitive Data (The most important part!)
.env
lib/config/api_keys.dart
lib/utils/api_keys.dart
lib/utils/env.dart

# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Log files
*.log
*.buildlog

# Android related
.gradle/
/android/app/debug
/android/app/profile
/android/app/release

# iOS related
*.test_results
*.moved-aside
*.xcworkspace
!default.xcworkspace

# IDE related
.idea/
.vscode/
*.iml
*.iws